{#{% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><span id="category" class="visible-xs"><span class="glyphicon glyphicon-menu-hamburger"></span> {{ text_category }}</span></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %} #}






{#
{% if categories %}

<div id="product_menu" class="dropdown-menu">
    <div class="row">
    {% for category in categories %}
          {% if category.children %}

              <div class="col-md-4">
              <h2>{{ category.name }}<span class="caret"></span></h2>
              <ul>
                  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                      {% for child in children %}
                        <li class=""><a  href="{{ child.href }}">{{ child.name }}</a></li>
                      {% endfor %}
                  {% endfor %}

              </ul>
              </div>

          {% endif %}
          {% endfor %}
      </div>

    </div>
{% endif %}
#}

{% if categories %}

<div id="product_menu" class="dropdown-menu dropdown-products">
    <ul class="nav nav-tabs nav-justified nav-pills ">
        {% set firstItem = categories|first %}
        {% for category in categories %}

            {% if category.children %}
                {% if firstItem == category %}
                    <li class="active"><a class="h4" data-toggle="pill" href="#{{ category.id }}">{{ category.name }}</a></li>
                {% else %}
                    <li><a class="" data-toggle="pill" href="#{{ category.id }}">{{ category.name }}</a></li>{% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for category in categories %}
        {% if category.children %}
        {% if firstItem == category %}
        <div id="{{ category.id }}" class="tab-pane fade in active">
            {% else %}
            <div id="{{ category.id }}" class="tab-pane fade">
                {% endif %}

                <a href="{{ category.href }}" class="h3">{{ category.name }}</a>
                <div class="row">
                    {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                        {% for child in children %}
                            <div class="card col-md-4">
                                <img class="card-img-top" src="{{ child.img }}" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">{{ child.name }}</h4>
                                    <p class="card-text">{{ child.text }}</p>
                                    <a href="{{ child.href }}" class="btn btn-primary">{{ child.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
    {% endif %}


{#
{% if categories %}
<div class="container">



            <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="dropdown" data-target="#product_menu">

            </button>




                        <div id="product_menu" class="dropdown-menu">
                            <ul class="list-unstyled col-lg-3 col-sm-6" role="menu">
                                <li></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more link</a></li>
                            </ul>
                            <ul class="nav col-lg-3 col-sm-6" role="menu">
                                <li>
                                    <div class="col-md-12">
                                        <h4>Login</h4>
                                        <form action="[YOUR ACTION]" method="post" role="form" class="form-horizontal">
                                            <input class="form-control" id="inputEmail1" placeholder="Email" type="email" style="margin-bottom:.5em">
                                            <input class="form-control" id="inputPassword1" placeholder="Password" type="password" style="margin-bottom:.5em">
                                            <div class="checkbox">
                                                <label class="small">
                                                    <input type="checkbox"> remember me</label>
                                            </div>
                                            <hr>
                                            <input class="btn btn-primary btn-block" type="submit" name="commit" value="Sign In">
                                        </form>
                                    </div>
                                </li>
                            </ul>
                            <ul class="col-lg-3 col-sm-6 list-unstyled" role="menu">
                                <li><h4>Options</h4></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="btn btn-primary pull-right">OK</a></li>
                                <li>
                                    <p class="small text-muted">small text here</p>
                                </li>
                            </ul>
                            <ul class="list-unstyled col-lg-3 col-sm-6" role="menu">
                                <li><h4>More</h4></li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more link</a></li>
                            </ul>
                        </div>

            </div>


<!-- /.nav-collapse -->
{% endif %}

#}